<% if user_signed_in? %> 
  <h3 class = "mt-3"> User Information </h3>
  <hr>
  <% if current_user.group_id != nil %>
    <h5> Group Name:<b> <%= @current_group.name %> </b> </h4>
  <% else %>
    <h5> You aren't in a group yet! </h5>
  <% end %>
  <h5> Login Email: <b> <%= current_user.email %> </b> </h5>
  <h5> Joined MALG on: <b> <%= current_user.created_at%> </b>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-dark mt-3" %> 
  <%= button_to "Delete Account", admin_destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-dark mt-3" %> 
<% end %>